{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<main class="app-main"> 

    <div class="container mt-4">
        <h2>Cadastrar Pessoa</h2>
        <form class="row g-3" method="POST" action="/cadastro/" id="cadastrarForm">
            {% csrf_token %}
            <div class="col-md-6">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome">
            </div>
            
            <div class="col-md-2">
                <label for="nis" class="form-label">NIS</label>
            <input type="text" class="form-control" id="nis" name="nis" maxlength="11">
        </div>

        <div class="col-md-2">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" class="form-control" id="cpf" name="cpf" maxlength="14">
        </div>
        
        <div class="col-md-2">
            <label for="rg" class="form-label">RG</label>
            <input type="text" class="form-control" id="rg" name="rg">
        </div>
        
        <div class="col-12">
            <label for="endereco" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="endereco" name="endereco"
                placeholder="Rua Exemplo, 1234 - Bairro">
            </div>
            
            <div class="col-md-3">
            <label for="componentes" class="form-label">Componentes</label>
            <input type="text" class="form-control" id="componentes" name="componentes" maxlength="2">
        </div>
        <div class="col-md-3">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="telefone" name="telefone" maxlength="11">
        </div>
        
        <div class="col-md-3">
            <label for="grupo" class="form-label">Grupos</label>
            <select id="grupo" name="grupo" class="form-select">
                <option selected disabled>Selecionar</option>
                {% for value, name in grupos %}
                <option value="{{ value }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <label for="grupo" class="form-label">Benefícios</label>
            <select id="grupo" name="grupo" class="form-select">
                <option selected disabled>Selecionar</option>
                {% for value, name in beneficios %}
                <option value="{{ value }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>


        <div class="col-12 justify-content-end d-flex mb-4">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
</div>

</main>

<script>
    document.getElementById("cpf").addEventListener("input", function () {
        let v = this.value.replace(/\D/g, ""); // só dígitos
        v = v.replace(/(\d{3})(\d)/, "$1.$2");
        v = v.replace(/(\d{3})(\d)/, "$1.$2");
        v = v.replace(/(\d{3})(\d{1,2})$/, "$1-$2");
        this.value = v;
    });

    document.getElementById("nis").addEventListener("input", function () {
        let x = this.value.replace(/\D/g, ""); // só dígitos
        x = x.replace(/(\d{9})(\d{2})$/, "$1-$2");
        this.value = x;
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.getElementById("cadastrarForm").addEventListener("submit", function (e) {
        e.preventDefault(); // bloqueia envio automático
    
    const nome = document.getElementById("nome").value;
    const cpf = document.getElementById("cpf").value;



    Swal.fire({
            title: `Deseja salvar o beneficiário: ${nome}?`,
            icon: "question",
            showCancelButton: false,
            showDenyButton: true,
            denyButtonText: "Não salvar",
            confirmButtonText: "Salvar",
        }).then((result) => {

            if (result.isConfirmed) {
                Swal.fire("Beneficiário cadastrado com sucesso!", "", "success");
                e.target.submit(); // envia o form de verdade
            } else if (result.isDenied) {
                Swal.fire("Alterações não foram salvas", "", "error");
            }
        });
    
    
    })
</script>

{% endblock %}