{% extends 'base.html' %}
{% block title %} Baneficíos Eventuais {% endblock %}
{% block content %}



<body class="bg-dark text-white d-flex vh-100 overflow-hidden align-items-center justify-content-center">

    <div class=" container text-center homeMenu justify-content-center align-items-center">
        <div class="justify-content-center d-flex gap-3 flex-wrap" id="menuOptions">

            <div>
                <a href="{% url 'cadastro' %}" class="h-100 btn btn-primary btn-lg buttonPers">Cadastrar Beneficiário</a>
            </div>
            <div>
                <a href="{% url 'beneficiarios' %}" class="btn btn-primary btn-lg buttonPers">Listar Beneficiários</a>
            </div>
            <div>
                <a href="#" class="btn btn-primary btn-lg buttonPers">Entregar Benefício</a>
            </div>
            <div>
                <a href="#" class="btn btn-danger btn-lg buttonPers">Criar entrega</a>
            </div>

        </div>
    </div>

    {% endblock %}